<%- include('../partials/header'); %>

<section
    class="vh-100 bg-image"
    style="
        background-image: url('https://media.istockphoto.com/photos/cute-children-or-baby-card-white-clouds-on-the-light-blue-wooden-picture-id1090975842?k=20&m=1090975842&s=612x612&w=0&h=4Ko6v1TJSVqo343f7pPKgU7-bAadGpwHfTTTw7Nokaw=');
    "
>
    <div class="d-flex align-items-center">
        <div class="container">
            <div
                class="row d-flex justify-content-center align-items-center mt-5"
            >
                <div class="col-12 col-md-9 col-lg-7 col-xl-6 edit-card">
                    <div class="card" style="border-radius: 15px">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-4">
                                Edit your Request
                            </h2>

                            <form
                                id="login-form"
                                method="POST"
                                action="/request/<%= request._id %>/edit?_method=PUT"
                            >
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="img"
                                        >img URL</label
                                    >
                                    <input
                                        type="url"
                                        class="form-control form-control-lg"
                                        name="img"
                                        value="<%= request.img %>"
                                        required
                                    />
                                </div>

                                <div
                                    class="form-outline mb-4"
                                    id="edit-description"
                                >
                                    <label class="form-label" for="description"
                                        >Description</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control form-control-lg"
                                        name="description"
                                        value="<%= request.description %>"
                                        required
                                    />
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="country"
                                        >Country</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control form-control-lg"
                                        name="country"
                                        value="<%= request.country %>"
                                        required
                                    />
                                </div>

                                <div
                                    class="form-outline mb-4"
                                    id="edit-quantity"
                                >
                                    <label class="form-label" for="quantity"
                                        >Quantity</label
                                    >
                                    <input
                                        type="number"
                                        class="form-control form-control-lg"
                                        name="quantity"
                                        min="1"
                                        max="30"
                                        value="<%= request.quantity %>"
                                        required
                                    />
                                    <p>Between 1 to 30</p>
                                </div>

                                <div class="form-outline mb-4">
                                    <label
                                        class="form-label"
                                        for="price_offered"
                                        >Price offered (SGD)</label
                                    >

                                    <input
                                        type="text"
                                        class="form-control form-control-lg"
                                        name="price_offered"
                                        value="<%= request.price_offered %>"
                                        required
                                    />
                                </div>

                                <div class="d-flex justify-content-center">
                                    <a
                                        href="/"
                                        style="text-decoration: none"
                                        rel="noopener noreferrer"
                                    >
                                        <button
                                            type="submit"
                                            class="btn btn-outline-success update-btn"
                                        >
                                            Update
                                        </button></a
                                    >
                                    <a
                                        href="/"
                                        style="text-decoration: none"
                                        rel="noopener noreferrer"
                                        ><button
                                            type="button"
                                            class="btn btn-outline-success update-cancel-btn"
                                        >
                                            Cancel
                                        </button></a
                                    >
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
