<div class="d-flex align-content-stretch flex-wrap mt-5 card-deck">
    <% requests.forEach(request => { %>
    <div class="card border-dark mb-3 item-request">
        <div class="card-header">
            <%= request.user.username %> <% if (authUser) { %>
            <a
                href="mailto:<%= request.user.email%>"
                class="btn btn-outline-success contact"
                target=" blank"
                rel="noopener noreferrer"
                >Contact</a
            >
            <% } else { %>
            <a href="/login" target=" blank" rel="noopener noreferrer"></a>
            <% } %>
        </div>

        <img
            src="<%= request.img %>"
            class="card-img-top item-img"
            alt="<%= request.description %>"
        />

        <div class="card-body text-dark request-card">
            <h5 class="card-title text-center"><%= request.description %></h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Country: <%= request.country %></li>
                <li class="list-group-item">
                    Quantity: <%= request.quantity %>
                </li>
                <li class="list-group-item">
                    Price offered (SGD): <%= request.price_offered %>
                </li>
                <% if (authUser && (authUser.id ===request.user._id.toString()))
                { %>
                <li class="list-group-item d-flex">
                    <a
                        href="/request/<%= request._id %>/edit"
                        target=" blank"
                        rel="noopener noreferrer"
                    >
                        <button
                            type="button"
                            class="btn btn-outline-success edit-btn"
                        >
                            Edit
                        </button></a
                    >
                    <form
                        method="POST"
                        action="/request/<%= request._id %>?_method=DELETE"
                    >
                        <input type="hidden" name="_method" value="DELETE" />
                        <button
                            type="submit"
                            class="btn btn-outline-success delete"
                            onclick="return confirm('Are you sure you want to delete this request?')"
                        >
                            Delete
                        </button>
                    </form>
                </li>
                <% }%>
            </ul>
        </div>
    </div>
    <% }) %>
</div>
