<div class="d-flex align-content-stretch flex-wrap mt-3 card-deck">
    <% items.forEach(item => { %>
    <div class="card border-dark mb-3 item-request">
        <div class="card-header">
            <%= item.username %>
            <a href="" class="btn btn-outline-success contact">Contact</a>
        </div>

        <img
            src="<%= item.img %>"
            class="card-img-top item-img"
            alt="<%= item.description %>"
        />

        <div class="card-body text-dark">
            <h5 class="card-title text-center"><%= item.description %></h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Country: <%= item.country %></li>
                <li class="list-group-item">Quantity: <%= item.quantity %></li>
                <li class="list-group-item">
                    Price offered (SGD): <%= item.price_offered %>
                </li>
                <!-- <li class="list-group-item text-center">
                        <a href="" class="btn btn-outline-success">Contact</a>
                    </li> -->
            </ul>
        </div>
    </div>
    <% }) %>
</div>
