<%- include('../partials/header'); %>

<div id="page-home">
    <div id="homepage-cover">
        <div class="container">
            <h1>Get your favourite items from everywhere!</h1>
        </div>
    </div>

    <form class="form-inline">
        <div class="search-bar">
            <input
                class="form-control mr-sm-2"
                type="search"
                placeholder="Search by Country"
                aria-label="Search"
            />
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
        </button>
    </form>

    <div class="d-flex align-content-stretch flex-wrap mt-3 card-deck">
        <% items.forEach(item => { %>
        <div class="card border-dark mb-3 item-request">
            <div class="card-header"><%= item.username %></div>

            <img
                src="<%= item.img %>"
                class="card-img-top item-img"
                alt="Little Prince instant noodle"
            />

            <div class="card-body text-dark">
                <h5 class="card-title text-center"><%= item.description %></h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Country: <%= item.description %>
                    </li>
                    <li class="list-group-item">
                        Quantity: <%= item.quantity %>
                    </li>
                    <li class="list-group-item">
                        Price offered (SGD): <%= item.price_offered %>
                    </li>
                    <li class="list-group-item text-center">
                        <a href="" class="btn btn-outline-success">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <% }) %>
    </div>
</div>
